.heading-container {
  display: flex;
}

.heading {
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
}

.tab-body {
  display: flex;
  border: 1px solid black;
  margin-top: 20px;
  height: 300px;
  padding: 5px;
}

.active {
  background-color: black;
  color: white;
  font-weight: bold;
}

.error {
  color: red;
  display: block;
  font-size: small;
  padding: 3px;
}
